{% extends 'intern/base.html' %}
{% block body %}

{% load staticfiles %}
<!DOCTYPE html>
<head>

	<title> Exploring Internships </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{% static 'intern/page121.css' %}" >
     <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet"> 
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    
</head>
<html>
<body

		<div class="inner">
			<div class="content">
				<h2 style="font-size: 30px;"><span style="color: orange;">alredy a member? </span> <span style="color: white">for any queries</span></h2>
				<h1><a class="btn" href="#"> Contact us </a>
					<h3> <span style="color: orange;">Ravi Sharma - </span><i class="fas fa-phone-square"></i><span style="color: white"> : 73542-70391,  </span><i class="fas fa-at"></i><span style="color: white"> :ravipcm77@gmail.com</span></h3>
					<h3><span style="color: orange;"> Rishabh Gupta - </span><i class="fas fa-phone-square"></i><span style="color: white"> : 83958-16191,  </span><i class="fas fa-at"></i><span style="color: white"> :rishugupta515@gmail.com</span></h3>
					<h3><span style="color: orange;"> Alka Singh - </span><i class="fas fa-phone-square"></i><span style="color: white"> : 7693014191,  </span><i class="fas fa-at"></i><span style="color: white"> :awesomealka2004@gmail.com</span></h3>
				</h1>
			</div>
		</div>
		



</body>
</html>
{%endblock%}