body, html{
	margin :0;
	padding :0;
	height : 100%;
	width : 100%;
}
.bag2{
	color : orange;
	text-decoration: underline;
}
.bag3{
	color: azure;
	text-decoration: underline;
}


.inner{
  width: 100%;
  height: 100%;
  position: relative;
}
.inner .content{
  position: absolute;
  top: 25%;
  z-index:999;
  text-align: center;	
  width: 100%;
}
.inner::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90%;
  background-image: url(images/page1.png);
  background-size: cover;
  opacity: 0.80;
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);

}

.btn{
	font-size:50px ;
	color: skyblue ;
	font-weight: 900;
	font-family: font-family: 'Slabo 27px', serif;
	padding:  10px 20px ;
	border-radius: 9px;
	border :solid Turquoise 3px;
	text-decoration: none;
	text-transform: uppercase;

}
.btn:hover{
	color: #fff;
	border : solid #fff 3px;
}
@media screen and (max-width :700px){
	.content h1{
		font-size: 250%;
	}
	.btn{
		font-size: 110%;
		padding: 7px 15px;
	}

}