body, html{
	margin :0;
	padding :0;
	height : 100%;
	width : 100%;
}





/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
  margin-bottom: 0px;
  padding: 0px 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: red;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  padding: 0px 0px;
}

.btn{
	font-family: 'Merriweather', serif;
    line-height: 50px;
	padding:  10px 20px ;
	
	font-weight: bold;
	color: orange ;
	font-size: 40px;
	border-radius: 9px;
	border :solid Turquoise 3px;
	text-decoration: none;
	text-transform: uppercase;
	top: 80;

}
.btn:hover{
	color: #fff;
	border : solid #fff 3px;
}

.intro{
height: 100%;
width: 100%;
margin: 0;
top: 0;

display: table;

}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content{
	max-width: 500px ;
	margin: 0 auto;
	text-align: center;
	font-size: 250px;
}

.font{
	font-size: 40px;
	font-family: 'Merriweather', serif;
    line-height: 50px;
    text-decoration: underline;

}
.btn{
	font-size:50px ;
	color: Turquoise ;
	
	text-decoration: none;
	text-transform: uppercase;

}
.first-slide{
	filter: opacity(80%);
-webkit-filter: brightness(0.4);
filter: brightness(0.4);

}
.second-slide{
	filter: opacity(80%);
-webkit-filter: brightness(0.4);
filter: brightness(0.4);

}
.third-slide{
	filter: opacity(80%);
-webkit-filter: brightness(0.4);
filter: brightness(0.4);

}
.btn:hover{
	color: #fff;
	border : solid #fff 3px;
}
@media screen and (max-width :700px){
	.content h1{
		font-size: 250%;
	}
	.btn{
		font-size: 110%;
		padding: 7px 15px;
	}

}